.concept-text {
  background: #d8d8d8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 605px;
  h1 {
    font-weight: bold;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  p {
    max-width: 800px;
    font-size: 24px;
    color: #2b2a2a;
  }
}
