.quote-share,
.quote-delicious {
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.noodles-illu {
  @include image-sizing;
  grid-column: 1;
}

.quote-share__text {
  color: black;
  font-size: 50px;
  grid-column: 2;
  place-self: center;
  text-align: center;
  padding: 80px;
}

.home-img-container {
  @include image-sizing;
}

.quote-delicious__text {
  @extend .quote-share__text;
  grid-column: 1;
}

.prawn-illu {
  @include image-sizing;
  grid-column: 2;
}
