.quote-share {
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 603px;

  &__text {
    color: black;
    font-size: 50px;
    grid-column: 2;
    place-self: center;
    text-align: center;
    padding: 80px;
  }
}

.noodles-illu {
  @include image-sizing;
  grid-column: 1;
}

.home-img-container {
  @include image-sizing;
}
